.footer-container {
    border-top: 4px solid #00BEE8;
    padding: 130px 110px;
    color: white;

    @media (max-width: 450px) {
        padding: 130px 35px;
    }
}

.hide-mobile {
    display: none;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 450px) {
        flex-direction: column;
    }

    @media (min-width: 451px) and (max-width: 650px) {
        flex-direction: column;
    }

    @media (min-width: 651px) and (max-width: 1250px) {
        flex-direction: column;
    }
}

.imprint {
    font-weight: 400;
    cursor: pointer;
    margin-top: 8px;

    a {
        text-decoration: none;
        color: white;
    }

    &:hover {
        display: inline-block;
        text-decoration: underline;
        text-decoration-color: #00BEE8;
        text-decoration-thickness: 3px;
    }
}

.data-protection {
    font-weight: 400;
    cursor: pointer;
    margin-top: 8px;

    a {
        text-decoration: none;
        color: white;
    }

    &:hover {
        display: inline-block;
        text-decoration: underline;
        text-decoration-color: #00BEE8;
        text-decoration-thickness: 3px;
    }
}

.name {
    font-size: 36px;
    font-weight: 600;

    a {
        text-decoration: none;
        color: white;
    }

    @media (max-width: 450px) {
        margin-bottom: 30px;
    }

    @media (min-width: 451px) and (max-width: 650px) {
        margin-bottom: 20px;
    }

    @media (min-width: 651px) and (max-width: 1250px) {
        margin-bottom: 20px;
    }
}

.text {
    font-weight: 400;
    font-size: 18px;

    img {
        width: 15px;
        height: 15px;
        margin-right: 8px;
    }

    @media (max-width: 450px) {
        margin-bottom: 30px;
    }

    @media (min-width: 451px) and (max-width: 650px) {
        margin-bottom: 30px;
    }

    @media (min-width: 651px) and (max-width: 1250px) {
        margin-bottom: 30px;
    }
}

.icons-container {
    display: flex;

    img {
        cursor: pointer;

        &:hover {
            transform: scale(1.4);
        }
    }

    @media (max-width: 450px) {
        margin-bottom: 30px;
    }

    @media (min-width: 451px) and (max-width: 650px) {
        margin-bottom: 30px;
    }

    @media (min-width: 651px) and (max-width: 1250px) {
        margin-bottom: 30px;
    }
}

/*Responsive*/
@media (max-width: 450px) {
    .hide-mobile {
        display: flex;
    }

    .hide {
        display: none;
    }

    .mr-10 {
        margin-right: 10px;
    }
}

@media (min-width: 451px) and (max-width: 650px) {
    .hide-mobile {
        display: flex;
    }

    .hide {
        display: none;
    }

    .mr-10 {
        margin-right: 10px;
    }
}

@media (min-width: 651px) and (max-width: 1250px) {
    .hide-mobile {
        display: flex;
    }

    .hide {
        display: none;
    }

    .mr-10 {
        margin-right: 10px;
    }
}