<div class="footer-container">

    <div class="footer-content">
        <div class="name-and-imprint">
            <div class="name"><a href="#home"><span style="color: #9747FF;">A</span>n<span style="color: #1CDAE6;">i</span>l</a></div>
            <div class="imprint"><a routerLink="/imprint">Imprint</a></div>
            <div class="data-protection"><a routerLink="/data-protection">Data protection</a></div>
        </div>
        <div class="text"><img src="assets/img/copyright.png">Anil Orhan 2023</div>
        <div class="icons-container">
            <img href="#" class="mr-42" src="assets/img/social-media/github.png">
            <img href="#" class="mr-42" src="assets/img/social-media/email.png">
            <img href="#" src="assets/img/social-media/linkedin.png">
        </div>
    </div>
</div>