.footer-container {
    border-top: 4px solid #00BEE8;
    padding: 130px 110px;
    color: white;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imprint {
    font-weight: 400;
    cursor: pointer;

    &:hover {
        display: inline-block;
        text-decoration: underline;
        text-decoration-color: #00BEE8;
        text-decoration-thickness: 3px;
    }
}

.name {
    font-size: 36px;
    font-weight: 600;
}

.text {
    font-weight: 400;
    font-size: 18px;

    img {
        width: 15px;
        height: 15px;
        margin-right: 8px;
    }
}

.icons-container {
    display: flex;

    img {
        cursor: pointer;

        &:hover {
            transform: scale(1.4);
        }
    }
}