.aboutme-container {
    display: flex;
    justify-content: space-between;
    color: white;
    margin-left: 100px;
    margin-bottom: 100px;
    margin-top: 20px;
}

.aboutme {
    font-weight: 700;
    font-size: 90px;
    margin-bottom: 35px;
}

.aboutme-description {
    margin-bottom: 35px;
    width: 600px;
    text-align: justify;
}

.icon-and-text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    margin-left: 35px;
    width: 570px;
    text-align: justify;

}

.mr-bulb {
    margin-right: 42px;

    &:hover {
        scale: 1.2;
    }
}

.mr-puzzle {
    margin-right: 30px;

    &:hover {
        transition: all 100ms linear;
        transform: scale(1.2);
        translate: -10%;
    }
}

.profile-pic-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 400px;
    margin-left: 100px;
}

.profile-pic {
    width: 500px;
    height: 500px;
    object-fit: contain;
}

.blueandgreen {
    position: absolute;
    width: 600px;
    height: 500px;
    z-index: -800;
    top: 10%;
}