<div class="aboutme-container">
    <div>
        <div class="aboutme">About me</div>

        <div>
            <div class="aboutme-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus numquam doloribus quos ducimus?
                Expedita vitae architecto, et in id distinctio eius repellendus deserunt dolorum exercitationem
                doloribus
                fuga deleniti cumque quasi.
            </div>
            <div class="icon-and-text">
                <div class="mr-bulb"><img src="assets/img/bulb.png"></div>
                <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque quaerat possimus sapiente
                    dignissimos
                    accusantium at illo, quisquam voluptatibus sunt expedita temporibus consectetur quos dolorem?
                    Excepturi
                    eveniet reiciendis temporibus consequatur asperiores.</div>
            </div>
            <div class="icon-and-text">
                <div class="mr-puzzle"><img src="assets/img/puzzle.png"></div>
                <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque quaerat possimus sapiente
                    dignissimos
                    accusantium at illo, quisquam voluptatibus sunt expedita temporibus consectetur quos dolorem?
                    Excepturi
                    eveniet reiciendis temporibus consequatur asperiores.</div>
            </div>
        </div>
    </div>

    <div class="profile-pic-container">
        <img class="blueandgreen" src="assets/img/blueandgreen-group.png">
        <img class="profile-pic" src="assets/img/profile-pic.png">
    </div>
</div>