<div id="aboutme" class="aboutme-container">
    <div>
        <div class="aboutme">About me</div>

        <div class="aboutme-description-parent">
            <div class="aboutme-description">
                My name is Anil Orhan and I am a web developer from Germany. I have in-depth knowledge in finance and
                would like to combine this with my programming skills.
            </div>
            <div class="icon-and-text">
                <div class="mr-bulb"><img src="assets/img/bulb.png"></div>
                <div>I am currently studying finance and accounting and have observed that the finance industry is
                    currently experiencing a digital revolution. This means that the traditional finance world as we
                    know it is likely to be disrupted and change significantly. As a result, it is becoming increasingly
                    important to possess knowledge in the digital world in addition to traditional finance knowledge.
                </div>
            </div>
            <div class="icon-and-text">
                <div class="mr-puzzle"><img src="assets/img/puzzle.png"></div>
                <div>In light of this, I have made the decision to broaden my expertise in the digital field and combine
                    it with my existing financial knowledge. I plan to do this by developing my programming skills and
                    integrating them with my financial knowledge.</div>
            </div>
        </div>
    </div>

    <div class="profile-pic-container">
        <img class="blueandgreen" src="assets/img/blueandgreen-group.png">
        <img class="profile-pic" src="assets/img/profile-pic.png">
    </div>
</div>