.aboutme-container {
    display: flex;
    justify-content: space-between;
    color: white;
    margin-left: 100px;
    margin-bottom: 100px;
    margin-top: 20px;

    @media (max-width: 450px) {
        flex-direction: column-reverse;
        justify-content: unset;
        margin-left: 15px;
        margin-bottom: unset;
    }

    @media (min-width: 451px) and (max-width: 650px) {
        flex-direction: column-reverse;
        justify-content: unset;
        margin-left: 15px;
        margin-bottom: unset;
    }

    @media (min-width: 651px) and (max-width: 1000px) {
        flex-direction: column-reverse;
        margin-left: 15px;
        margin-right: 15px;
    }

    @media (min-width: 1001px) and (max-width: 1350px) {
        flex-direction: column-reverse;
        margin-left: 15px;
        margin-right: 15px;
    }
}

.aboutme {
    font-weight: 700;
    font-size: 90px;
    margin-bottom: 35px;

    @media (max-width: 450px) {
        font-weight: 700;
        font-size: 45px;
        margin-top: 70px;
    }

    @media (min-width: 451px) and (max-width: 650px) {
        font-weight: 700;
        font-size: 45px;
        margin-top: 70px;
    }

    @media (min-width: 651px) and (max-width: 1000px) {
        font-weight: 700;
        font-size: 70px;
        margin-top: 70px;
    }

    @media (min-width: 1001px) and (max-width: 1350px) {
        font-weight: 700;
        font-size: 70px;
        margin-top: 70px;
    }
}

.aboutme-description {
    margin-bottom: 35px;
    width: 600px;
    text-align: justify;
    font-size: 18px;
    line-height: 120%;
    font-weight: 400;

    @media (max-width: 450px) {
        width: 100%;
    }

    @media (min-width: 451px) and (max-width: 650px) {
        width: 100%;
    }

    @media (min-width: 651px) and (max-width: 1000px) {
        width: 100%;
    }
    
    @media (min-width: 1001px) and (max-width: 1350px) {
        width: 100%;
    }
}

.icon-and-text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    margin-left: 35px;
    width: 570px;
    text-align: justify;
    font-size: 18px;
    line-height: 120%;
    font-weight: 400;

    @media (max-width: 450px) {
        width: unset;
        margin-left: unset;
    }

    @media (min-width: 451px) and (max-width: 650px) {
        width: unset;
        margin-left: unset;
    }

    @media (min-width: 651px) and (max-width: 1000px) {
        width: unset;
        margin-left: unset;
    }

    @media (min-width: 1001px) and (max-width: 1350px) {
        width: unset;
        margin-left: unset;
    }
}

.mr-bulb {
    margin-right: 42px;

    &:hover {
        scale: 1.2;
    }
}

.mr-puzzle {
    margin-right: 30px;

    &:hover {
        transition: all 100ms linear;
        transform: scale(1.2);
        translate: -10%;
    }
}

.profile-pic-container {
    position: relative;
    z-index: -10000000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 400px;
    margin-left: 100px;

    @media (max-width: 450px) {
        margin-right: unset;
        margin-left: 10px;
    }

    @media (min-width: 451px) and (max-width: 650px) {
        margin-right: unset;
        margin-left: 10px;
    }

    @media (min-width: 651px) and (max-width: 1000px) {
        margin-right: unset;
        margin-left: 10px;
    }   
    
    @media (min-width: 1001px) and (max-width: 1350px) {
        margin-right: unset;
        margin-left: 10px;
    }
}

.profile-pic {
    width: 500px;
    height: 500px;
    object-fit: contain;

    @media (max-width: 450px) {
        width: 300px;
        height: 445px;
    }

    @media (min-width: 451px) and (max-width: 650px) {
        width: 300px;
        height: 390px;
    }

    @media (min-width: 1001px) and (max-width: 1350px) {
        width: 600px;
        height: 600px;
    }
}

.blueandgreen {
    position: absolute;
    width: 600px;
    height: 500px;
    z-index: -800;
    top: 10%;

    @media (max-width: 450px) {
        width: 300px;
        height: 250px;
    }

    @media (min-width: 451px) and (max-width: 650px) {
        width: 350px;
        height: 345px;
    }

    @media (min-width: 651px) and (max-width: 1000px) {
        width: 620px;
    }

    @media (min-width: 1001px) and (max-width: 1350px) {
        width: 620px;
    }
}

/*Responsive*/
@media (max-width: 450px) {
    .aboutme-description-parent {
        margin-right: 15px;
    }
}

@media (min-width: 451px) and (max-width: 650px) {
    .aboutme-description-parent {
        margin-right: 15px;
    }
}