<div class="contact-container">
    <img class="shadow-bluefooter" src="assets/img/bluefooter.png" alt="">
    <div class="title-container">
        <div class="title">Contact</div>
        <div class="line"></div>
    </div>
    <div class="getincontact-container">
        <div class="getincontact-left-container">
            <div class="getincontact">
                <div class="line-getincontact"></div>
                <div class="text-getincontact">Need to solve a problem?</div>
            </div>
            <div class="first-subtext">Contact me through this form, I am interested in hearing you, knowing your ideas
                and contributing to your projects with my work.</div>
            <div class="second-subtext">Need a Frontend developer? <span class="contactme">Contact me!</span></div>
        </div>

        <div class="getincontact-right-container">
            <form (submit)="sendMail()" ngNativeValidate #myForm>
                <input type="text" placeholder="Your name" #name required>
                <input type="text" placeholder="Your email" #email required>
                <textarea class="textarea-box" name="textarea" cols="30" rows="30" placeholder="Your message"
                    #message required></textarea>
                <div class="sendmessage-container"><button class="sendmessage" #sendMessage>Send message :)</button></div>
            </form>
            <div class="circle-container">
                <div class="circle"><a href="#home"><img class="arrow" src="assets/img/arrow.png"></a></div>
            </div>
        </div>
    </div>
</div>