<div id="skills" class="shape-container">
    <img class="shape" src="assets/img/shape.png">

    <div class="skills-container">
        <div class="skills-container-child">
            <div class="grid-container">
                <div class="column item-1">
                    <img class="mb bounce-animation mobile-language" src="assets/img/skills/js.png">
                    <div class="language-text">Javascript</div>
                </div>
                <div class="column item-2">
                    <img class="mb bounce-animation mobile-language" src="assets/img/skills/angular.png">
                    <div class="language-text">Angular</div>
                </div>
                <div class="column item-3">
                    <img class="mb bounce-animation mobile-language" src="assets/img/skills/ts.png">
                    <div class="language-text">TypeScript</div>
                </div>
                <div class="column item-4">
                    <img class="mb bounce-animation mobile-language" src="assets/img/skills/html.png">
                    <div class="language-text">HTML</div>
                </div>
                <div class="column item-5">
                    <img class="mb bounce-animation mobile-language" src="assets/img/skills/git.png">
                    <div class="language-text">Git</div>
                </div>
                <div class="column item-6">
                    <img class="mb bounce-animation mobile-language" src="assets/img/skills/firebase.png">
                    <div class="language-text">Firebase</div>
                </div>
                <div class="column item-7">
                    <img class="mb bounce-animation mobile-language" src="assets/img/skills/css.png">
                    <div class="language-text">CSS</div>
                </div>
                <div class="column item-8">
                    <img class="mb bounce-animation mobile-language" src="assets/img/skills/scrum.png">
                    <div class="language-text">Scrum</div>
                </div>
                <div class="column item-9">
                    <img class="mb bounce-animation mobile-language" src="assets/img/skills/api.png">
                    <div class="language-text">Api</div>
                </div>
                <div class="column item-10">
                    <img class="mb bounce-animation mobile-language" src="assets/img/skills/material-design.png">
                    <div class="language-text">Material design</div>
                </div>
            </div>

            <div class="skill">
                <div class="title-and-line">
                    <div class="skill-title">Skills</div>
                    <div class="line"></div>
                </div>
                <div class="text-skill">I have been working intensively on frontend development lately, so I have been able to create different real projects.</div>
                <div class="mobile-btn">
                    <a href="#contact" class="get-in-touch-btn">Get in Touch</a>
                </div>
            </div>
        </div>

    </div>
</div>