.portfolio-container {
    color: white;
    position: relative;

    @media (max-width: 450px) {
        margin-top: 200px;
    }

    @media (min-width: 451px) and (max-width: 650px) {
        margin-top: 200px;
    }
}

.shadow-green {
    position: absolute;
    right: 0;
    top: 0;

    @media (max-width: 450px) {
        top: 0;
    }

    @media (min-width: 451px) and (max-width: 650px) {
        top: 0;
    }

    @media (min-width: 651px) and (max-width: 1000px) {
        top: 0;
    }

    @media (min-width: 1001px) and (max-width: 1350px) {
        top: 0;
    }
}

.shadow-lightblue {
    position: absolute;
    left: 0;
    bottom: -10%;

    @media (max-width: 450px) {
        bottom: -10%;
    }

    @media (min-width: 451px) and (max-width: 650px) {
        bottom: -10%;
    }
}

.title-container {
    display: flex;
    align-items: center;

    @media (min-width: 651px) and (max-width: 1000px) {
        margin-top: 200px;
    }

    @media (min-width: 1001px) and (max-width: 1350px) {
        margin-top: 200px;
    }
}

.line {
    width: 50px;
    height: 0px;
    border: 4px solid #4B47FF;

    @media (max-width: 450px) {
        width: 25px;
    }

    @media (min-width: 451px) and (max-width: 650px) {
        width: 25px;
    }

    @media (min-width: 651px) and (max-width: 1000px) {
        width: 25px;
    }

    @media (min-width: 1001px) and (max-width: 1350px) {
        width: 25px;
    }
}

.title {
    font-weight: 700;
    font-size: 90px;
    margin-left: 45px;

    @media (max-width: 450px) {
        font-size: 45px;
        margin-left: 10px;
    }

    @media (min-width: 451px) and (max-width: 650px) {
        font-size: 45px;
        margin-left: 10px;
    }

    @media (min-width: 651px) and (max-width: 1000px) {
        font-size: 70px;
        margin-left: 10px;
    }

    @media (min-width: 1001px) and (max-width: 1350px) {
        font-size: 70px;
        margin-left: 10px;
    }
}

.description {
    width: 473px;
    height: 38px;
    margin-top: 35px;
    margin-left: 110px;
    font-weight: 400;
    font-size: 120%;
    line-height: 120%;
    margin-bottom: 100px;

    @media (max-width: 450px) {
        font-weight: 400;
        font-size: 16px;
        margin-left: 45px;
        width: 275px;
    }

    @media (min-width: 451px) and (max-width: 650px) {
        font-weight: 400;
        font-size: 16px;
        margin-left: 45px;
        width: 390px;
    }

    @media (min-width: 651px) and (max-width: 1000px) {
        margin-left: 45px;
    }

    @media (min-width: 1001px) and (max-width: 1350px) {
        margin-left: 45px;
    }
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 100px;
    gap: 70px;

    @media (max-width: 450px) {
        padding-left: 25px;
        padding-right: 25px;
    }

    @media (min-width: 451px) and (max-width: 650px) {
        padding-left: 25px;
        padding-right: 25px;
    }

    @media (min-width: 651px) and (max-width: 1000px) {
        padding-left: 43px;
        padding-right: 43px;
    }

    @media (min-width: 1001px) and (max-width: 1350px) {
        padding-left: 43px;
        padding-right: 43px;
    }
}

.project {
    position: relative;
    width: 650px;
    height: 650px;
    border-radius: 30px 30px 30px 30px;
    border: 1px solid #1CDAE6;
    cursor: pointer;
    background-color: #141D2F;

    &:hover .wrapper-overlay {
        display: flex;
    }

    &:hover .overlay-image-container {
        animation: zoom-elements 125ms linear;

        @keyframes zoom-elements {
            0% {
                scale: 0;
            }

            100% {
                scale: 1;
            }
        }
    }

    @media (max-width: 450px) {
        width: 400px;
        height: 400px;
        margin-right: 10px;
        margin-left: 10px;
    }

    @media (min-width: 451px) and (max-width: 650px) {
        width: 400px;
        height: 400px;
        margin-right: 10px;
        margin-left: 10px;
    }

    @media (min-width: 651px) and (max-width: 1000px) {
        width: 500px;
        height: 500px;
    }

    @media (min-width: 1001px) and (max-width: 1350px) {
        width: 400px;
        height: 400px;
    }
}

.start-img-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.img-project {
    width: 100%;
}

.wrapper-overlay {
    display: none;
    flex-direction: column;
}

.overlay-image-container {
    border-radius: 30px 30px 30px 30px;
    position: absolute;
    overflow: hidden;
    height: 80%;
    top: 0;

    img {
        width: 100%;
        height: 100%;
    }
}

.overlay-bg-color {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px 30px 30px 30px;
    background-color: rgba(0, 0, 0, 0.5);
}

.link {
    position: absolute;
    top: 20%;
    left: 25%;
    display: flex;


    @media (max-width: 450px) {
        left: 15%;
    }

    @media (min-width: 451px) and (max-width: 650px) {
        left: 15%;
    }

    @media (min-width: 651px) and (max-width: 1000px) {
        left: 20%;
    }

    @media (min-width: 1001px) and (max-width: 1350px) {
        left: 20%;
    }
}

.github {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    font-weight: 400;
    font-size: 23px;
    border-radius: 10px;
    color: white;
    border: 1px solid #1CDAE6;
    margin-right: 55px;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        background-color: #1CE6B6;
    }

    @media (max-width: 450px) {
        font-weight: 400;
        font-size: 18px;
        padding: 10px 10px;
    }

    @media (min-width: 451px) and (max-width: 650px) {
        font-weight: 400;
        font-size: 18px;
        padding: 10px 10px;
    }

    @media (min-width: 1001px) and (max-width: 1350px) {
        font-weight: 400;
        font-size: 16px;
        padding: 15px 15px;
    }
}

.livetest {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    font-weight: 400;
    font-size: 23px;
    background-color: #4B47FF;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        background-color: #00BEE8;
    }

    @media (max-width: 450px) {
        font-weight: 400;
        font-size: 18px;
        padding: 15px 15px;
    }

    @media (min-width: 451px) and (max-width: 650px) {
        font-weight: 400;
        font-size: 18px;
        padding: 15px 15px;
    }

    @media (min-width: 1001px) and (max-width: 1350px) {
        font-weight: 400;
        font-size: 16px;
        padding: 15px 15px;
    }
}

.whitebox {
    position: absolute;
    bottom: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 350px;
    width: 100%;
    background-color: white;
    border-radius: 30px 30px 30px 30px;
    padding: 66px 45px;
    box-sizing: border-box;

    p {
        font-weight: 700;
        font-size: 32px;
        color: #4B47FF;

        @media (min-width: 1001px) and (max-width: 1350px) {
            font-weight: 700;
            font-size: 24px;
        }
    }

    @media (min-width: 651px) and (max-width: 1000px) {
        height: 280px;
    }

    @media (min-width: 1001px) and (max-width: 1350px) {
        height: 230px;
    }
}

.description-overlay {
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 27px;
    text-align: center;
    color: black;

    @media (max-width: 450px) {
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 15px;
    }

    @media (min-width: 451px) and (max-width: 650px) {
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 15px;
    }

    @media (min-width: 1001px) and (max-width: 1350px) {
        font-weight: 400;
        font-size: 16px;
        padding: 8px 8px;
    }
}

.language {
    font-weight: 400;
    font-size: 24px;
    color: #00BEE8;

    @media (max-width: 450px) {
        font-weight: 400;
        font-size: 14px;
    }

    @media (min-width: 451px) and (max-width: 650px) {
        font-weight: 400;
        font-size: 14px;
    }

    @media (min-width: 1001px) and (max-width: 1350px) {
        font-weight: 400;
        font-size: 16px;
    }
}

/*Responsive*/
@media (max-width: 450px) {
    .whitebox {
        height: 220px;

        p {
            font-size: 20px;
            font-weight: 600;
        }
    }
}

@media (min-width: 451px) and (max-width: 650px) {
    .whitebox {
        height: 220px;

        p {
            font-size: 20px;
            font-weight: 600;
        }
    }
}