<div class="data-protection-container">
    <h1>Data Protection</h1>
    <h2>1. Data protection at a glance</h2>
    <p>General information</p>
    The following information provides a simple overview of what happens to your personal data when you visit this
    website. Personal data is any data by which you can be personally identified. For more detailed information on data
    protection, please refer to our data protection statement below this text.<br>

    <p>Data collection on this website</p>
    <p>Who is responsible for data collection on this website?</p>
    Data processing on this website is carried out by the website operator. You can find the contact details of the
    website operator in the section "Information on the data controller" in this privacy policy.<br>

    <p>How do we collect your data?</p>
    On the one hand, your data is collected by you providing it to us. This may, for example, be data that you enter in
    a contact form. Other data is collected automatically or with your consent by our IT systems when you visit the website. This is
    mainly technical data (e.g. internet browser, operating system or time of page view). This data is collected
    automatically as soon as you enter this website.<br>

    <p>What do we use your data for?</p>
    Some of the data is collected in order to ensure error-free provision of the website. Other data may be used to
    analyse your user behaviour.<br>

    <p>What rights do you have regarding your data?</p>
    You have the right at any time to receive information free of charge about the origin, recipient and purpose of your
    stored personal data. You also have the right to request the correction or deletion of this data. If you have given
    your consent to data processing, you can revoke this consent at any time for the future. You also have the right to
    request the restriction of the processing of your personal data under certain circumstances. Furthermore, you have
    the right to lodge a complaint with the competent supervisory authority.<br><br>

    You can contact us at any time regarding this and other questions on the subject of data protection.<br>

    <h2>2. General information and mandatory information</h2>
    <p>Data protection</p>
    The operators of these pages take the protection of your personal data very seriously. We treat your personal data
    confidentially and in accordance with the statutory data protection regulations and this data protection
    declaration.<br><br>

    When you use this website, various personal data are collected. Personal data is data by which you can be personally
    identified. This Privacy Policy explains what information we collect and how we use it. It also explains how and for
    what purpose this is done.<br><br>

    We would like to point out that data transmission on the Internet (e.g. when communicating by e-mail) can have
    security gaps. Complete protection of data against access by third parties is not possible.<br><br>

    Note on the responsible office
    The responsible party for data processing on this website is:<br><br>

    Anil Orhan<br>
    Isaac-Fulda-Allee 4a<br>
    55124 Mainz<br><br>

    Phone: +49176 73224869<br>
    E-mail: orhan_anil@yahoo.de<br><br>

    The controller is the natural or legal person who alone or jointly with others determines the purposes and means of
    the processing of personal data (e.g. names, e-mail addresses, etc.).<br>

    <p>Storage period</p>
    Unless a more specific storage period is stated within this data protection declaration, your personal data will
    remain with us until the purpose for processing the data no longer applies. If you assert a legitimate request for
    deletion or revoke your consent to data processing, your data will be deleted unless we have other legally
    permissible reasons for storing your personal data (e.g. retention periods under tax or commercial law); in the
    latter case, the data will be deleted once these reasons no longer apply.<br>

    <p>General information on the legal basis for data processing on this website</p>
    If you have consented to data processing, we process your personal data on the basis of Art. 6 para. 1 lit. a DSGVO
    or Art. 9 para. 2 lit. a DSGVO if special categories of data are processed in accordance with Art. 9 para. 1 DSGVO.
    In the event of express consent to the transfer of personal data to third countries, data processing is also carried
    out on the basis of Art. 49 (1) a DSGVO. If you have consented to the storage of cookies or to the access to
    information in your terminal device (e.g. via device fingerprinting), the data processing is additionally carried
    out on the basis of Section 25 (1) TTDSG. This consent can be revoked at any time. If your data is required for the
    performance of a contract or for the implementation of pre-contractual measures, we process your data on the basis
    of Art. 6 para. 1 lit. b DSGVO. Furthermore, if your data is required for the fulfilment of a legal obligation, we
    process it on the basis of Art. 6 para. 1 lit. c DSGVO. Furthermore, the data processing may be carried out on the
    basis of our legitimate interest according to Art. 6 para. 1 lit. f DSGVO. Information on the relevant legal basis
    in each individual case is provided in the following paragraphs of this data protection declaration.<br>

    <p>Revocation of your consent to data processing</p>
    Many data processing operations are only possible with your express consent. You can revoke consent you have already
    given at any time. The legality of the data processing carried out until the revocation remains unaffected by the
    revocation.<br>

    <p>Right to object to data collection in special cases and to direct marketing (Art. 21 DSGVO)</p>
    IF DATA PROCESSING IS CARRIED OUT ON THE BASIS OF ART. 6 ABS. 1 LIT. E OR F DSGVO, YOU HAVE THE RIGHT TO OBJECT TO
    THE PROCESSING OF YOUR PERSONAL DATA AT ANY TIME FOR REASONS ARISING FROM YOUR PARTICULAR SITUATION; THIS ALSO
    APPLIES TO PROFILING BASED ON THESE PROVISIONS. THE RESPECTIVE LEGAL BASIS ON WHICH PROCESSING IS BASED CAN BE FOUND
    IN THIS DATA PROTECTION DECLARATION. IF YOU OBJECT, WE WILL NO LONGER PROCESS YOUR PERSONAL DATA UNLESS WE CAN
    DEMONSTRATE COMPELLING LEGITIMATE GROUNDS FOR THE PROCESSING WHICH OVERRIDE YOUR INTERESTS, RIGHTS AND FREEDOMS, OR
    THE PROCESSING IS FOR THE PURPOSE OF ASSERTING, EXERCISING OR DEFENDING LEGAL CLAIMS (OBJECTION UNDER ARTICLE 21(1)
    DSGVO).<br><br>

    IF YOUR PERSONAL DATA ARE PROCESSED FOR THE PURPOSE OF DIRECT MARKETING, YOU HAVE THE RIGHT TO OBJECT AT ANY TIME TO
    THE PROCESSING OF PERSONAL DATA CONCERNING YOU FOR THE PURPOSE OF SUCH MARKETING; THIS ALSO APPLIES TO PROFILING
    INSOFAR AS IT IS RELATED TO SUCH DIRECT MARKETING. IF YOU OBJECT, YOUR PERSONAL DATA WILL SUBSEQUENTLY NO LONGER BE
    USED FOR THE PURPOSE OF DIRECT ADVERTISING (OBJECTION IN ACCORDANCE WITH ARTICLE 21 (2) OF THE GERMAN DATA
    PROTECTION ACT).<br>

    <p>Right of appeal to the competent supervisory authority</p>
    In the event of breaches of the GDPR, data subjects have a right of appeal to a supervisory authority, in particular
    in the Member State of their habitual residence, their place of work or the place of the alleged breach. The right
    of appeal is without prejudice to any other administrative or judicial remedy.<br>

    <p>Right to data portability</p>
    You have the right to have data that we process automatically on the basis of your consent or in performance of a
    contract handed over to you or to a third party in a common, machine-readable format. If you request the direct
    transfer of the data to another responsible party, this will only be done insofar as it is technically feasible.<br>

    <p>Information, deletion and correction</p>
    Within the framework of the applicable legal provisions, you have the right at any time to free information about
    your stored personal data, its origin and recipient and the purpose of the data processing and, if applicable, a
    right to correction or deletion of this data. You can contact us at any time with regard to this and any other
    questions you may have on the subject of personal data.<br>

    <p>Right to restriction of processing</p>
    You have the right to request the restriction of the processing of your personal data. To do this, you can contact
    us at any time. The right to restriction of processing exists in the following cases:<br><br>

    If you dispute the accuracy of your personal data stored by us, we usually need time to check this. For the duration
    of the verification, you have the right to request the restriction of the processing of your personal data.
    If the processing of your personal data happened/is happening unlawfully, you can request the restriction of data
    processing instead of erasure.
    If we no longer need your personal data, but you need it to exercise, defend or assert legal claims, you have the
    right to request restriction of the processing of your personal data instead of erasure.
    If you have lodged an objection pursuant to Art. 21 (1) DSGVO, a balancing of your and our interests must be carried
    out. As long as it has not yet been determined whose interests prevail, you have the right to demand the restriction
    of the processing of your personal data.
    If you have restricted the processing of your personal data, this data may - apart from being stored - only be
    processed with your consent or for the assertion, exercise or defence of legal claims or for the protection of the
    rights of another natural or legal person or for reasons of an important public interest of the European Union or a
    Member State.<br>

    <h2>3. data collection on this website</h2>
    <p>Contact form</p>
    If you send us enquiries via the contact form, the information you provide in the enquiry form, including the
    contact details you provide there, will be stored by us for the purpose of processing the enquiry and in case of
    follow-up questions. We do not pass on this data without your consent.<br><br>

    The processing of this data is based on Art. 6 (1) lit. b DSGVO if your request is related to the performance of a
    contract or is necessary for the implementation of pre-contractual measures. In all other cases, the processing is
    based on our legitimate interest in the effective processing of enquiries addressed to us (Art. 6 (1) (f) DSGVO) or
    on your consent (Art. 6 (1) (a) DSGVO) if this has been requested; consent can be revoked at any time.<br><br>

    The data you enter in the contact form will remain with us until you request us to delete it, revoke your consent to
    store it or the purpose for storing the data no longer applies (e.g. after we have completed processing your
    enquiry). Mandatory legal provisions - in particular retention periods - remain unaffected.<br>

    <p>Enquiry by e-mail, telephone or fax</p>
    If you contact us by e-mail, telephone or fax, your enquiry including all personal data resulting from it (name,
    enquiry) will be stored and processed by us for the purpose of processing your request. We do not pass on this data
    without your consent.<br><br>

    The processing of this data is based on Art. 6 (1) lit. b DSGVO if your request is related to the performance of a
    contract or is necessary for the implementation of pre-contractual measures. In all other cases, the processing is
    based on our legitimate interest in the effective handling of the enquiries addressed to us (Art. 6 para. 1 lit. f
    DSGVO) or on your consent (Art. 6 para. 1 lit. a DSGVO) if this has been requested; the consent can be revoked at
    any time.<br><br>

    The data you send us via contact requests will remain with us until you request us to delete it, revoke your consent
    to store it or the purpose for storing the data no longer applies (e.g. after your request has been processed).
    Mandatory legal provisions - in particular legal retention periods - remain unaffected.
</div>