.data-protection-container {
    padding-top: 100px;
    padding-bottom: 50px;
    margin-left: 100px;
    margin-right: 80px;
    font-size: 18px;
    text-align: justify;
    line-height: 150%;

    p {
        font-weight: 800;
        font-size: 20px;
    }
}