.data-protection-container {
    padding-top: 100px;
    padding-bottom: 50px;
    margin-left: 100px;
    margin-right: 80px;
    font-size: 18px;
    text-align: justify;
    line-height: 150%;

    p {
        font-weight: 800;
        font-size: 20px;
    }

    @media (max-width: 450px) {
        margin-left: 15px;
        margin-right: 15px;
    }

    @media (min-width: 451px) and (max-width: 650px) {
        margin-left: 15px;
        margin-right: 15px;
    }
}