<div class="navigation-bar hide-mobile">
    <div class="name-container">
        <a href="#home"><span style="color: #9747FF;">A</span>n<span style="color: #1CDAE6;">i</span>l</a>
    </div>

    <div class="menu-container">
        <a class="mr-32" href="#aboutme">About me</a>
        <a class="mr-32" href="#skills">Skills</a>
        <a href="#portfolio">Portfolio</a>
    </div>
</div>

<div class="navigation-bar-mobile">
    <div class="name-mobile"><a href="#home"><span style="color: #9747FF;">A</span>n<span style="color: #1CDAE6;">i</span>l</a></div>
    <div class="menu-mobile"><img src="assets/img/mobile_menu.png"></div>
</div>
