/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Poppins', sans-serif;
    src: url(assets/fonts/Poppins/Poppins-Light.ttf) format("opentype");
  }

  * {
    font-family: 'Poppins', sans-serif;
  }

  body {
    margin: 0;
    background-color: #141D2F;
    scroll-behavior: smooth;
  }

  .mr-32 {
    margin-right: 32px;
  }