<div id="home" class="home-container">

    <img class="img-blue" src="assets/img/blue.png">
    <img class="img-green" src="assets/img/green.png">

    <div class="description-container">
        <div class="text-rotation">
            <span>I am</span>
        </div>
        <div class="name-and-jobdescription">
            <span class="name">Anil Orhan</span>
            <span class="jobdescription">Frontend Developer</span>
        </div>
    </div>

    <div class="btn-container">
        <a href="#contact" class="letstalk-btn">Let's talk!</a>
    </div>

    <div class="container-bottom">
        <div class="wrap-left">
            <div class="line"></div>
            <div>
                <a href="https://github.com/anil-o" target="_blank" class="mr-32 link"><img src="assets/img/social-media/github.png"></a>
                <a href="#contact" class="mr-32 link"><img src="assets/img/social-media/email.png"></a>
                <a href="https://www.linkedin.com/in/anil-orhan-73a573193" target="_blank" class="link"><img src="assets/img/social-media/linkedin.png"></a>
            </div>
        </div>
        <div class="scroll-down hide-mobile">
            <span>Scroll down</span><img src="assets/img/arrow.png">
        </div>
    </div>

</div>