.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100vh;
    width: 100%;
}

.description-container {
    display: flex;
    align-items: flex-end;
}

.text-rotation {
    font-weight: 400;
    font-size: 100px;
    transform: rotate(-90deg);
    transform-origin: 33% 37%;
}

.name-and-jobdescription {
    display: flex;
    flex-direction: column;
}

.name {
    font-weight: 700;
    font-size: 128px;
}

.jobdescription {
    font-weight: 400;
    font-size: 64px;
    color: #4B47FF;
    text-transform: uppercase;
}

.img-blue {
    position: absolute;
    top: 10%;
    left: 0;
    height: 700px;
    width: 900px;
    z-index: -100;
}

.img-green {
    position: absolute;
    right: 0;
    top: 0;
    width: 700px;
    height: 800px;
    z-index: -100;
}

.btn-container {
    margin-top: 48px;
    box-sizing: border-box;
    position: relative;
    width: 200px;
}

.letstalk-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 15px 30px;
    background: #00BEE8;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: 400;
    font-size: 24px;

    &:hover {
        background-color: #9747FF;
        padding: 20px 35px;
    }
}

.container-bottom {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    margin-bottom: 100px;

    a {
        text-decoration: none;
        cursor: pointer;
    }
}

.line {
    width: 80px;
    height: 0px;
    border: 4px solid #00BEE8;
    margin-right: 32px;
}

.wrap-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-down {
    transform: rotate(90deg);
    transform-origin: 80%;
    margin-right: 64px;

    span {
        font-size: 24px;
        font-weight: 400;
        margin-right: 8px;
    }

    img {
        transform: rotate(90deg);
    }
}

.link {
    display: inline-block;

    &:hover {
        transform: scale(1.4);
    }
}