.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100vh;
    width: 100%;
}

.description-container {
    display: flex;
    align-items: flex-end;
}

.text-rotation {
    font-weight: 400;
    font-size: 100px;
    transform: rotate(-90deg);
    transform-origin: 33% 37%;
}

.name-and-jobdescription {
    display: flex;
    flex-direction: column;
}

.name {
    font-weight: 700;
    font-size: 128px;
}

.jobdescription {
    font-weight: 400;
    font-size: 64px;
    color: #4B47FF;
    text-transform: uppercase;
}

.img-blue {
    position: absolute;
    top: 10%;
    left: 0;
    height: 850px;
    width: 900px;
    z-index: -100;
}

.img-green {
    position: absolute;
    right: 0;
    top: 0;
    width: 600px;
    height: 900px;
    z-index: -100;
}

.btn-container {
    margin-top: 48px;
    background-color: red;
    box-sizing: border-box;
    position: relative;
    width: 200px;
}

.letstalk-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 15px 30px;
    background: #00BEE8;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: 400;
    font-size: 24px;

    &:hover {
        background-color: #9747FF;
        padding: 20px 35px;
    }
}

.link-and-scrolldown-container {
    position: absolute;
    bottom: 0;
    width: 100vw;

    a {
        text-decoration: none;
        color: white;
        cursor: pointer;

        &:hover {
            transform: scale(1.3);
        }
    }
}

.wraplinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-media {
    display: flex;
    align-items: center;
}

.line {
    width: 100px;
    height: 0px;
    border: 4px solid #00BEE8;
    margin-right: 32px;
}

.text-scroll-down {
    transform: rotate(90deg);
    transform-origin: 88% 37%;
    font-size: 24px;
    font-weight: 400;
    padding-top: 140px;

    img {
        transform: rotate(90deg);
        vertical-align: middle;
        width: 15px;
        height: 15px;
    }
}