<div class="home-container">

    <img class="img-blue" src="assets/img/blue.png">
    <img class="img-green" src="assets/img/green.png">

    <div class="description-container">
        <div class="text-rotation">
            <span>I am</span>
        </div>
        <div class="name-and-jobdescription">
            <span class="name">Anil Orhan</span>
            <span class="jobdescription">Frontend Developer</span>
        </div>
    </div>

    <div class="btn-container">
        <button class="letstalk-btn">Let's talk!</button>
    </div>

    <div class="link-and-scrolldown-container">
        <div class="wraplinks">
            <div class="social-media">
                <div class="line mr-32"></div>
                <a href="https://github.com/anil-o" target="_blank" class="mr-32"><img src="assets/img/social-media/github.png"></a>
                <a href="" class="mr-32"><img src="assets/img/social-media/email.png"></a>
                <a href="" class="mr-32"><img src="assets/img/social-media/linkedin.png"></a>
            </div>

            <div class="text-scroll-down">
                <p>Scroll down <img src="assets/img/arrow.png"></p>
            </div>
        </div>
    </div>

</div>